/**
* @updateUrl https://raw.githubusercontent.com/Xasya/theme/main/upd/chika-vs-bedrock/chica-vs-bedrock-gif.theme.css
*/

@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css);

:root {
    --theme-background-image: url(https://i.imgur.com/q3P7DDW.png);
    --home-icon-image: url(https://i.imgur.com/iIhEJKs.png);
    --main-theme-color: rgb(67, 181, 129);
    --theme-transparency: rgba(0, 0, 0, 0.8);
    --home-icon-image-position: center center;
    --home-icon-image-zoom: 100%;
    --server-listing-width: 72px;
    --font-size: 100%;
    --mention-color: rgba(250, 166, 26, 0.05);
    --mention-sider: rgba(250, 166, 26, 1);
    --mention-hover-color: rgba(250, 166, 26, 0.08);
    --category-hover-color: rgb(60, 202, 138);
    --unread-server-animation: rainbow;
    --video-screen-button-background-color: rgba(200, 200, 200, 0.2);
    --video-screen-button-foreground-color: white;
    --video-screen-button-background-hovor-color: rgba(200, 200, 200, 0.4);
    --video-screen-button-foreground-hovor-color: white;
    --member-listing-role-color: var(--main-theme-color);
    --small-user-popout-background-image: transparent;
    --small-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
    --small-user-popout-background-image-position: center;
    --big-user-popout-background-image: transparent;
    --big-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
    --big-user-popout-background-image-position: center;
    --code-markup-background-color: rgba(0, 0, 0, 0.6);
    --code-markup-border: 1px solid transparent;
    --message-box-transparency: rgba(0, 0, 0, 0.6);
    --embed-background-transparency: rgba(0, 0, 0, 0.6);
    --message-hover-buttons-background: rgba(200, 200, 200, 0.1);
    --context-menu-transparency: rgba(15, 15, 15, 0.8);
    --add-discover-icon-transparency: rgba(200, 200, 200, 0.15);
    --add-discover-icon-color: #43b581;
    --channel-limit-count-color: var(--channels-default);
    --channel-limit-background-left: rgba(200, 200, 200, 0.1);
    --channel-limit-background-right: rgba(200, 200, 200, 0.2);
    --scrollbar-color: rgba(200, 200, 200, 0.2);
    --unread-message-divider-color: #f04747;
    --unread-message-divider-font-color: #fff;
    --new-messages-bar-background-color: #7289da;
    --new-messages-bar-font-color: #fff;
    --emoji-menu-background-color: rgba(0, 0, 0, 0.6);
    --emoji-menu-sider-background-color: rgba(0, 0, 0, 0);
    --emoji-menu-server-header-background-color: rgba(0, 0, 0, 0.8);
    --emoji-menu-bottom-bar-background-color: black;
    --emoji-menu-search-bar-background-color: rgba(200, 200, 200, 0.1);
    --message-search-menu-background-color: rgba(0, 0, 0, 0.8);
    --message-search-container-background-color: rgba(0, 0, 0, 0.6);
    --message-search-result-background-color: rgba(200, 200, 200, 0.05);
    --text-voice-channel-color: rgb(142, 146, 151);
    --text-voice-channel-hover-color: #dcddde;
    --text-voice-channel-selected-text-color: #fff;
    --unread-text-channel-color: #fff;
    --unread-text-channel-bubble-color: var(--main-theme-color);
    --folder-background-color: #2f3136;
    --expanded-folder-background-color: transparent;
    --reaction-emoji-background-color: rgba(0, 0, 0, 0);
    --reaction-emoji-border-color: 1px solid transparent;
    --reaction-emoji-hover-background-color: rgba(255, 255, 255, 0.1);
    --reaction-emoji-hover-border-color: rgba(255, 255, 255, 0.2)
}

.listItemWrapper__91816 .childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 {
    background: var(--home-icon-image) var(--home-icon-image-position) / var(--home-icon-image-zoom) no-repeat !important;
}

.childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 svg {
    display: none !important;
}

.wrapper_ef3116 { 
    width: var(--server-listing-width) !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.itemsContainer_ef3116 { 
    width: calc(var(--server-listing-width) + 6px) !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.wrapper_ef3116 .scroller_ef3116 {
    display: flex !important;
    flex-flow: column nowrap !important;
    padding-left: 0 !important;
    align-content: flex-start !important;
    align-items: center !important;
    justify-content: flex-start !important;
}

.scroller_ef3116 > .listItem__650eb,
.stack_dbd263 .listItem__650eb,
.stack_dbd263 .wrapper__48112 .listItem__650eb,
.listItem-GuPuDH {
    width: var(--server-listing-width) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.tutorialContainer__1f388 {
    width: var(--server-listing-width) !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.tutorialContainer__1f388 .listItem__650eb {
    width: var(--server-listing-width) !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.pill_e5445c { 
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

.wrapper__58105 { 
    overflow: visible !important;
    width: 100% !important;
}

.pill_e5445c .item__58105 { 
    display: none !important;
}

.folderGroup__48112 { 
    width: var(--server-listing-width) !important; 
    margin-left: 0 !important;
    padding-left: 0 !important;
    transform: translateX(0) !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.folderGroup__48112:not(.isExpanded__48112) {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.folderGroup__48112:not(.isExpanded__48112) .listItem__650eb {
    width: var(--server-listing-width) !important;
    margin-left: 0 !important;
}

.folderGroupBackground__48112 { 
    left: 0 !important; 
    width: var(--server-listing-width) !important;
    margin-left: 0 !important;
}

.wrapper__48112.isExpanded__48112 .stack_dbd263 {
    height: fit-content !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: var(--server-listing-width) !important;
}

.wrapper__48112.isExpanded__48112 .listItem__650eb { 
    width: var(--server-listing-width) !important; 
}

.stack_dbd263 { 
    justify-content: flex-start !important;
    align-items: center !important;
    width: var(--server-listing-width) !important;
}

.stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2 { 
    justify-content: flex-start !important;
    align-items: center !important;
}

.guildSeparator__252b6 { display: none !important; }
#guild-list-unread-dms .pill_ed9a5f { display: none !important; }
.unreadMentionsIndicatorTop_ef3116 { justify-self: center !important; }
