.app__160d8{background:0 0}
.appMount__51fd7{background:0 0;background-image:var(--theme-background-image);background-size:cover}
.bg__960e4{background:var(--theme-transparency)}
.callContainer_cb9592{background:0 0}
.channelAttachmentArea_b77158{background-color:initial}
.channelChatWrapper_cb9592{background:0 0}
.channelTextArea_f75fb0{background:var(--message-box-transparency)}
.chatContent_f75fb0{background:0 0}
.chatGradient__36d07{background:0 0}
.chatTypingGradientAtBottom__36d07{background:0 0}
.chatTypingGradientAtBottom__36d07,.chatTypingGradientNotAtBottom__36d07{background:0 0}
.chatTypingGradientNotAtBottom__36d07{background:0 0}
.chat_f75fb0{background:0 0}
.children__9293f:after{background:0 0}
.codeView__4d95d{background-color:initial}
.container__0f2e8{background-color:initial!important;backdrop-filter:blur(5px)}
.container__133bf{background:0 0}
.container__2637a{background:0 0}
.container__7d20c{background-color:initial}
.container_c8ffbb{background:0 0}
.container_f369db{background:0 0}
.container_faa96b:hover{background:0 0;backdrop-filter:blur(15px)}
.contentRegionScroller__23e6b{background-color:initial}
.contentRegion__23e6b{background:0 0}
.embedFull__623de{background-color:initial!important;backdrop-filter:blur(5px)}
.expandedFolderBackground__48112{left:0}
.folderGroupBackground__48112{left:3px}
.folderGroup__48112{width:54px!important}
.folderGroup__48112:not(.isExpanded__48112) .listItem__650eb .pill_e5445c.wrapper__58105 .item__58105{margin-left:-3px!important;width:48px!important}
.footer__4d95d{background:0 0;backdrop-filter:blur(5px)}
.guildSeparator__252b6{display:none}
.header_c6bf1b{background-color:initial}
.itemCard__7e549.wrapper__00943.outer_bf1984.padded_bf1984.interactive_bf1984{background-color:initial;backdrop-filter:blur(5px)}
.item__58105{border:2px solid var(--main-theme-color);background:0 0;display:block;border-radius:30%!important;position:absolute;transform:none!important;inset:0!important;top:-2px!important;left:2px!important;width:100%;height:100%!important}
.itemsContainer_ef3116 .stack_dbd263{display:flex!important;flex-direction:column!important;flex-flow:row wrap!important;align-items:flex-start!important}
.itemsContainer_ef3116{width:calc(var(--server-listing-width) + 6px)}
.layer__960e4{background:0 0}
.listItem-GuPuDH{width:auto;margin-left:0}
.listItemWrapper__91816 .wrapper_cc5dd2 .wrapper__6e9f8 .childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8{background-image:var(--home-icon-image);background-size:var(--home-icon-image-zoom);background-position:var(--home-icon-image-position);background-repeat:no-repeat}
.mainCard_f369db{background:0 0;backdrop-filter:blur(5px)}
.member_c8ffbb{background-color:initial}
.membersWrap_c8ffbb{background-color:initial}
.members_c8ffbb{background:0 0}
.nowPlayingColumn__133bf{background-color:initial}
.panels__5e434{background:var(--message-box-transparency);backdrop-filter:blur(5px)}
.pill_e5445c .item__58105:not([style*="height: 8px"]){border-color:transparent;background-color:initial}
.pill_e5445c{width:100%!important}
.privateChannels__35e86{background:0 0}
.privateChannels_e6b769{background:0 0}
.resizeHandle__01ae2{background:0 0}
.root_bfe55a{background:0 0}
.scroller__28a87{background-color:initial}
.scroller__53543{background-color:initial}
.scroller__99e7c{background:0 0}
.scroller_ef3116>.listItem__650eb{width:100%}
.searchBar__5ec2f{background-color:initial;backdrop-filter:blur(5px)}
.sidebarRegionScroller__23e6b{background:0 0}
.sidebar_c48ade:after{background:0 0}
.sidebar__5e434:after{background:0 0}
.stack_dbd263 .listItem__650eb:not(.wrapper__48112 .listItem__650eb){width:initial;padding:1px;margin:2px}
.stack_dbd263 .wrapper__48112{width:fit-content!important}
.stack_dbd263.folderGuildsList__48112{height:100%!important}
.stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2 .listItem__650eb{width:80%;display:flex;flex-direction:row;flex-flow:row wrap;justify-content:flex-start;align-items:flex-start}
.stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2:last-child .listItem__650eb .pill__5bc7e{display:none!important}
.stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2:last-child .listItem__650eb{width:initial}
.stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2>div .listItem__650eb .pill_ed9a5f.wrapper__58105{display:none!important}
.stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2{justify-content:center}
.stack_dbd263{justify-content:center!important}
.standardSidebarView__23e6b{background:0 0}
.tabBody__133bf{background:0 0}
.textContainer__4d95d{background-color:initial;backdrop-filter:blur(15px)!important}
.themedBackground__74017{background:0 0}
.themed__9293f{background:0 0!important}
.themed__9293f{background:0 0}
.titleContainer_e29cd7{background-color:initial}
.tutorialContainer__1f388 .listItem__650eb .pill__1f388.wrapper__58105{display:none}
.tutorialContainer__1f388 .wrapper_cc5dd2 .wrapper__6e9f8 .childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8{background-color:initial}
.tutorialContainer__1f388{display:flex;justify-content:center;width:100%}
.unreadMentionsIndicatorTop_ef3116{justify-self:center}
.upload_aa605f{background-color:initial}
.wrapper__48112.isExpanded__48112 .listItem__650eb{width:100%!important}
.wrapper__48112.isExpanded__48112 .listItem__650eb{width:100%}
.wrapper__48112.isExpanded__48112 .stack_dbd263 .listItem__650eb .pill_e5445c.wrapper__58105 .item__58105{width:85%!important;height:100%!important;left:5px!important;top:-2px!important}
.wrapper__48112.isExpanded__48112 .stack_dbd263{height:fit-content!important;display:flex!important;flex-direction:column!important}
.wrapper__48112.isExpanded__48112 .stack_dbd263{overflow:visible}
.wrapper__58105{overflow:visible!important}
.wrapper__67dba .stack_dbd263{display:initial!important;flex-direction:initial!important;flex-flow:initial!important;align-items:initial!important}
.wrapper__6e9f8 .childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 svg{display:none}
.wrapper_cb9592{background:0 0}
.wrapper_d852db{background:0 0}
.wrapper_fc8177{background:0 0}
.wrapper_ef3116 .scroller_ef3116{display:flex;flex-flow:row wrap;padding-left:0;align-content:flex-start}
.wrapper_ef3116 .scroller_ef3116{justify-content:center}
.wrapper_ef3116{background:0 0}
.wrapper_ef3116{width:var(--server-listing-width)}
#guild-list-unread-dms .pill_ed9a5f{display:none}
.chatLayerWrapper__01ae2{background:0 0}
.container__01ae2{background:0 0;backdrop-filter:blur(5px)}
.panel__5dec7{background-color:initial!important}
